<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgellner.yomm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Activity_Settings" />
        <activity
            android:name=".Activities.Activity_TransactionList"
            android:label="@string/title_transaction_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Activity_TransactionDetail"
            android:label="@string/title_transaction_detail"
            android:parentActivityName=".Activities.Activity_TransactionList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Activity_TransactionList" />
        </activity>
        <activity android:name=".Activities.Activitiy_AddNewData">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>