<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgellner.yomm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Start.MainActivity"
            android:label="YOMM"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <categoryId android:name="android.intent.categoryId.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings.Activity_Settings" />
        <activity
            android:name=".OverviewPayments.Activity_PaymentsList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OverviewPayments.Activity_PaymentDetail"
            android:parentActivityName=".OverviewPayments.Activity_PaymentsList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OverviewPayments.Activity_PaymentsList" />
        </activity>
        <activity android:name=".ViewPager.Activitiy_ViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <categoryId android:name="android.intent.categoryId.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>